@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Fjalla One", sans-serif;
}

.middleware {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    margin: 0;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 0.5rem;
    width: 100px;
    height: 75px;
    border-radius: 0.5rem;
    background-color: #abe;
    font-size: larger;
    animation: myanima 10s infinite;
    /* 	animation: myanima 3s infinite alternate; */
}

@keyframes myanima {
    0% {
        transform: translateY(0);
        background-color: #abe;
    }

    20% {
        transform: translateX(-100px) translateY(-100px);
        background-color: #57d;
    }

    40% {
        transform: translateX(200px) translateY(-100px);
        background-color: #24a;
        color: #fff;
    }

    60% {
        transform: translateX(-200px) translateY(100px);
        background-color: #125;
        color: #fff;
    }

    80% {
        transform: translateX(200px) translateY(100px);
        background-color: #abe;
    }

    100% {
        transform: translateY(0);
        background-color: #abe;
        rotate: 50%;
    }
}