body {
    background-color: #f9f9f9;
}

h1 {
    margin-bottom: 20px;
}

#show-selector {
    margin-bottom: 20px;
}

.entry {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entry input[type="checkbox"] {
    margin-left: 10px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.form-check-input {
    width: 20px;
    height: 25px;
}

.form-check-label {
    font-size: 1.10rem;
}

h1.bg-secondary {
    background-color: #6c757d;
    /* Bootstrap secondary color */
    color: white;
}

footer.bg-primary {
    background-color: #f59b25;
    /* Bootstrap primary color */
    color: black;
}

footer a.text-white {
    color: white;
}


/* .rabbit-ticker {
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    animation: ticker 10s linear infinite;
}

.rabbit-ticker span {
    display: inline-block;
    /* animation: hop 1s infinite; */
/* }

@keyframes ticker {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes hop {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
} */