/* General Styles */
body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

#show-selector {
    margin-bottom: 20px;
}

.entry {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.entry input[type="checkbox"] {
    margin-left: 10px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #45a049;
}

/* Form Check Styles */
.form-check-input {
    width: 20px;
    height: 25px;
}

.form-check-label {
    font-size: 1.1rem;
}

h1.bg-secondary {
    background-color: #6c757d;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

footer.bg-primary {
    background-color: #f59b25;
    color: black;
    text-align: center;
    width: 100%;
}

footer a.text-white {
    color: white;
    text-decoration: none;
}

footer a.text-white:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .entry {
        flex-direction: column;
        align-items: flex-start;
    }

    button {
        width: 90%;
        font-size: 0.9rem;
    }

    .form-check-label {
        font-size: 1rem;
    }
}

.rabbit-ticker {
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    animation: ticker 10s linear infinite;
}

.rabbit-ticker span {
    display: inline-block;
}

@keyframes ticker {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }
}

.breed-button {
    min-height: 40px;
    font-size: 0.9rem;
}

.breed-button {
    min-height: 40px;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}

.breed-button.active {
    background-color: #007bff;
    color: #fff;
}