body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

.breed-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #f0f8ff;
    color: #333;
    border: 2px solid #add8e6;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    transition: all 0.3s ease;
}

.breed-button:hover {
    background-color: #e0f7fa;
    border-color: #87ceeb;
}

.breed-button.selected {
    background-color: #ffcccb;
    color: #333;
    border-color: #f08080;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

footer.bg-primary {
    background-color: #f59b25;
    color: black;
    text-align: center;
    width: 100%;
}

footer a.text-white {
    color: white;
    text-decoration: none;
}

footer a.text-white:hover {
    text-decoration: underline;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #6c757d;
    color: white;
    padding: 10px;
}

.modal-footer {
    text-align: center;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

#breed-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    justify-content: center;
    align-items: start;
    margin: 20px 0;
}